html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #ffffff 0%, #f3f3f3 14%, #ffffff 34%, #ededed 95%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(14%,#f3f3f3), color-stop(34%,#ffffff), color-stop(95%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 14%,#ffffff 34%,#ededed 95%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 14%,#ffffff 34%,#ededed 95%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 14%,#ffffff 34%,#ededed 95%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(-45deg,  #ffffff 0%,#f3f3f3 14%,#ffffff 34%,#ededed 95%,#ffffff 100%); /* W3C */

  height: 100%;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  
  background: #e4e3df url('css/bg.jpg') repeat-x bottom left;
}

#app {
  position: relative;
  width: 100%;
  height: 95%;
}

/*
header {
  width: 100%;
  background-color: #234631;
  box-shadow: 0 0 8px #333;
  color: #FFF;
  height: 40px;
}

header .logo {
  float: left;
  font-family: 'Averia Sans Libre', cursive;
  font-size: 30px;
  line-height: 40px;
  margin: 0 20px;
  font-style: italic;
  font-weight: bold;
}

header .logo span {
  color: #f9e538;
}

header .info {
  float: left;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Averia Sans Libre', cursive;
  margin: 13px 0 0 20px;
}

header .info .title {
  font-weight: bold;
  color: #f9e538;
  font-size: 20px;
}

header .info .recipe {
  color: #d2d6d3;
}
*/

header {
  width: 100%;
  background-color: #000;
  box-shadow: 0 0 1px #333;
  color: #FFF;
  height: 40px;
  position: fixed;
  z-index: 13;
}

.modal {
  width: 400px;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -240px;
  padding: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  background-color: #111;
  color: #FFF;
}

.modal .content {
  padding: 0 20px;
}

.modal .scooped {
  text-align: center;
}

.modal .scoop {
  background-color: #FF0;
  color: #000;
  text-decoration: none;
}

.modal .scoop a {
  color: #000;
  text-decoration: none;
}

.modal a {
  color: #FFF;
}

.intro .content {
  text-align: left;
}

.error {
  background-color: #C00;
}

header .logo {
  float: left;
  _font-family: 'Averia Sans Libre', cursive;
  font-size: 30px;
  line-height: 40px;
  margin: 0 20px;
  font-weight: bold;
}

header .logo span {
  color: #CCC;
}

header .credits {
  float: right;
  width: 50%;
  color: #FFF;
  margin: 14px 20px 0 0;
  text-align: right;
  font-size: 12px;
  line-height: 20px;
}

header .credits a {
  color: #FFF;
}

header .info {
  display: none;
  float: left;
  font-size: 16px;
  line-height: 20px;
  _font-family: 'Averia Sans Libre', cursive;
  margin: 13px 0 0 20px;
}

header .info .title {
  font-weight: bold;
  color: #f9e538;
  font-size: 20px;
}

header .info .recipe {
  color: #d2d6d3;
}

.soundwiches {
  position: absolute;
  top: 50px;
  height: 80%;
  width: 100%;
}

.soundwich {
  position: absolute;
  float: left;
  width: 500px;
  margin: 0 40px;
  bottom: 0;
  /*
  left: 50%;
  margin-left: -280px;
  bottom: 0;
  */
  overflow: hidden;
  _background: transparent url('css/sw-bg.jpg') no-repeat bottom left;
}

.soundwich .user-input {
  z-index: 12;
  position: absolute;
  width: 420px;
  height: 380px;
  margin-left: -214px;
  left: 50%;
  background: #EEE;
  border: 24x solid #FFF;
  color: #FFF;
}

.soundwich .user-input .content {
  padding: 20px;
}

.soundwich .user-input .content input {
  font-size: 24px;
  border: 1px solid #555;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  width: 360px;
  padding: 10px 10px;
  margin: 5px 0;
}

.soundwich .user-input .content .submit {
  text-transform: uppercase;
  border: 1px solid #555;
  padding: 5px;
  margin: 5px 0;
  width: 120px;
  text-align: center;
  float: right;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: #CCC;
  color: #000;
}

.empty {
  height: 500px;
}

.empty .rendering {
  display: none;
}

.soundwich .actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 11;
  height: 60px;
  _background: transparent url('css/wood.jpg') no-repeat bottom left;
  border-top: 1px solid #000;
}

.soundwich .actions .title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}

.soundwich .actions .buttons div {
  float: left;
  margin: 0 10px;
  line-height: 16px;
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid #333;
  background-color: #CCC;
  padding: 1px 8px;
  border-radius: 2px;
  color: #333;
}

.rendering {
  position: absolute;
  bottom: 80px;
  width: 100%;
  -webkit-transform-origin: 50% 100%;
}

.bread {
  width: 90%;
  margin: 0 auto;
  height: 120px;
  background-color: #d7c191;
  _background-color: #ad792a;
  color: #FFF;
  background: transparent url('css/bread.jpg') no-repeat top left;
}

.bread {
  width: 480px;
  margin: 0 auto;
  height: 80px;
  background: none;
  background-color: #000;
  background: transparent url('css/speaker-top-test.gif') no-repeat 100% 100%;
}

.bread.top {
  _border-radius: 30px 30px 0 0;
  margin: 0 auto 20px;
  opacity: 0.5;
}

.bread.bottom {
  border-radius: 0 0 30px 30px;
  background: transparent url('css/speaker-bottom-test.gif') no-repeat 100% 0%;
  opacity: 0.5;
}

.fillings {
  width: 100%;
}

.filling {

}

.filling .content {
  width: 420px;
  height: 400px;
  background-color: #FFF;
  margin: 0 auto;
}

.filling .content .box {
  padding: 20px 40px;
}

.soundwich .user-input h2,
.filling .content h2 {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
}

.soundwich .user-input h2 {
  border-bottom: 1px solid #FFF;
}

.filling .content .scoop {
  font-size: 48px;
  font-weight: light;
  font-family: Georgia;
}

.filling .content .terms {
  font-family: Georgia;
}

.filling .content .lyrics {
  font-family: Georgia;
  line-height: 21px;
  font-size: 14px;
  text-align: center;
  margin: 20px 0 0 0;
}

.soundwich .user-input .question,
.filling .content .scoop h3 {
  font-size: 48px;
  line-height: 48px;
  font-weight: normal;
  font-family: Georgia;
  margin: 3px 0 0 0;
}

.filling .content .scoop p {
  font-size: 12px;
  font-weight: light;
  font-family: Georgia;
  margin: 0;
}

.filling .content .list {
  margin: 20px 0;
  font-size: 14px;
  font-weight: light;
  font-family: Georgia;
}

.filling .content .img {
  margin: 40px 0;
}

.filling .content .img img {
  display: block;
  padding: 5px;
  border: 1px solid #000;
  margin: 0 auto;
  background-color: RGBA(255, 255, 255, 0.2);
}

.filling .content .credits {
  border-top: 1px solid #000;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

.filling .sep {
  height: 14px;
  width: 460px;
  background-color: #FFF;
  margin: 16px auto;
  background: transparent url('css/sep.gif') no-repeat 50% 50%;
}

.sep {
  height: 5px;
  width: 100%;
  background-color: #939322;
  margin: 2px auto;
}

.echonest {
  background-color: #4fb1ed;
}

.musixmatch {
  background-color: #eb691d;
}

.lastfm {
  background-color: #ce3311;
}

.musicmetric {
  background-color: #c0d460;
}

.soundcloud {
  background-color: #e67c24;
}

.soundwidge {
  background-color: #FF0;
}

a  {
  color: #000;
}

.drinkify {
  background-color: #ecedd9;
}

.sep-bread {
  width: 95%;
  margin: 0 auto;
  height: 80px;
  border-radius: 20px;
  margin: 4px auto;
  background: transparent url('css/bread.jpg') no-repeat 50% 50%;
}

.sep-ketchup {
  width: 100%;
  margin: 0 auto;
  height: 8px;
  margin: 2px auto;
  border-radius: 10px;
  background-color: #F00;
}

.sep-salad {
  height: 1px;
  width: 100%;
  background-color: #939322;
  border: 10px dotted #5d930f;
  margin: 2px auto;
}

.sep-mayonaise {
  height: 2px;
  width: 95%;
  border: 10px dashed #fdf9e7;
  background-color: #FFF;
  margin: 2px auto;
}

.filling p {
  margin: 0;
  font-family: 'Averia Sans Libre', cursive;
}