#app
  %header
    .logo
      Soundwi<span>.ch</span>
    .info
      Now serving: 
        %span.title
          Amsterdam Dagwood
        %span.recipe
           &middot; recipe by 
          %span.author
            Marc Andre
  .soundwiches