.soundwich
  .actions
    .add-filling
      Add Filling
    .zoom-in
      Zoom ++
    .zoom-out
      Zoom --
  .rendering
    .soundwich-scroller
      .soundwich-content
        .bread.top
          Top Bread
        .fillings
          .filling
            %p
              The Amsterdam Music Hack Day is a full weekend of hacking in which participants will conceptualize, create and present their projects. Music + software + mobile + hardware + art + the web. Anything goes as long as it's music related.
          .filling
            %p
              The Amsterdam Music Hack Day is a full weekend of hacking in which participants will conceptualize, create and present their projects. Music + software + mobile + hardware + art + the web. Anything goes as long as it's music related.
        .bread.bottom